
.rowcolor1{
	
	background-color: black;
	border-bottom: 5px;	
}


.rowcolor2{
	
	background-color: white;
	border-bottom: 5px;	
}

.row3{
	background-image:url("../images/texture-bw.png");
	height: 80px;
		
}

#a{
	
	color:white;
	align-content: center;
	
	
}

#b{
	color:black;
padding-top: 0.5em;
}

.x{
	width: 40px;
	height: 40px;
}
  select{
	
  background: transparent;
    border:0px;
   outline:0px;
   background-color: white;
}

#btn{
	
	background-color: black;
	border:none;
	margin: none; 
	
	
}
#btn1{
	
	background-color:white;
	color: #40E0D0;
	border-color: #40E0D0;	
	
}

.icon{
	
	color: white;
	
}

i{
	
	padding-right: 1em;;
}

.my-icon {
color: white;
background: #C0C0C0;
padding: 5px;

}

.contact{
	
    background-color: #4fbfa8;
    padding: 7px;
    color: white;
    border: none;
    margin-bottom: 20px;
    border-radius: 2px;
}

ul.nav li
{
  display:inline;
  padding:1em;
  margin:1em;
 
}
    
    
.abc{
	color:#4fbfa8;
}

.c{
	background-color: grey;
	color: white;
}

.p2{
	width: 150px;
	height: 150px;
}

